header > h1 {
  font-family: 'Permanent Marker', cursive;
  /* font-family: 'Rock Salt', cursive; */
  font-size: 6.5rem;
  text-align: center;
}

h2 {
  /* font-family: 'Rock Salt', cursive; */
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  text-align: center;
}

#catalog {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

#catalog  div {
  flex: 1 0 100px;
  text-align: center;
  height: 300px;
  min-width: 300px;
  display: flex;
  align-items: center;
}

#catalog div p {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  font-family: 'Permanent Marker', cursive;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#catalog #road {
  background-image: url("./road_nicer.avif");
  background-size: cover;
}

#catalog #track {
  background-image: url("./track.avif");
  background-size: cover;
}

#catalog #mtb {
  background-image: url("./mtb.avif");
  background-position-x: center;
  background-size: cover;
}

#catalog #group {
  background-image: url("./mtb_group.avif");
  background-position-x: center;
  background-size: cover;
}

#catalog #transport {
  background-image: url("./bike-rack.webp");
  background-position-x: center;
  background-size: cover;
}

#us {
  padding-top: 20px;
}

.members {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.member {
  display: flex;
  flex: 0 1 300px;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

 .imgcontainer {
  width: 300px;
}

.imgcontainer img{
  width: 100%;
}

footer {
  /* position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: white; */
  width: 90%;
  padding: 10px 5% 10px 5%;
}
